<!--Section: Blog v.2-->
<div class="image">
<section class="text-center py-4">
        
  <!--Section heading-->
  <h2 class="h1 font-weight-bold text-center mb-5 pt-4">Ultimas Noticias..</h2>
  <!--Section description-->
  <!--Grid row-->
  <div class="row">

      <!--Grid column-->
      <div class="col-lg-4 col-md-12 mb-4">
          <!--Featured image-->
          <div class="view overlay rounded z-depth-2 mb-2 waves-light" mdbWavesEffect>
              <img src="..\assets\imagenes\noticias\InterAGRO-GOLD-RAVEN-1.jpg" class="img-fluid" alt="First sample image">
              <a>
                  <div class="mask rgba-white-slight"></div>
              </a>
          </div>

          <!--Excerpt-->
          <a href="" class="pink-text">
              <h6 class="mb-3 mt-4">
                  <i class="fa fa-trophy "></i>
                  <strong>   Inovación</strong>
              </h6>
          </a>
          <h4 class="mb-3 font-weight-bold dark-grey-text">
              <strong>Premio de innovación ORO al RS1 </strong>
          </h4>
          <a class="font-weight-bold dark-grey-text">24 Noviembre, 2018 </a>
          <p class="grey-text">RS1 marca RAVEN El sistema de dirección y orientación de RS1™ recibió el premio de innovación de oro de ІнтерАгро / InterAgro en la exposición interAGRO de...</p>
          <a mdbBtn color="pink" rounded="true" size="md" class="waves-light" mdbWavesEffect>Leer más</a>
      </div>
      <!--Grid column-->

      <!--Grid column-->
      <div class="col-lg-4 col-md-6 mb-4">
          <!--Featured image-->
          <div class="view overlay rounded z-depth-2 mb-2 waves-light" mdbWavesEffect>
              <img src="..\assets\imagenes\noticias\topnetlive_hero_b.png" class="img-fluid" alt="Second sample image">
              <a>
                  <div class="mask rgba-white-slight"></div>
              </a>
          </div>

          <!--Excerpt-->
          <a href="" class="deep-orange-text">
              <h6 class="mb-3 mt-4">
                  <i class="fa fa-tablet"></i>
                  <strong> Precisión</strong>
              </h6>
          </a>
          <h4 class="mb-3 font-weight-bold dark-grey-text">
              <strong>TopNet Live ahora en Hermosillo </strong>
          </h4>
               <a class="font-weight-bold dark-grey-text">26 Julio, 2018 </a>
          <p class="grey-text">TopNet live Topcon anuncia la liberación de su estación de referencia mas reciente de su red TopNet live, aquí en Hermosillo, Sonora. Instalada en las...</p>
          <a mdbBtn color="deep-orange" rounded="true" size="md" class="waves-light" mdbWavesEffect>Leer Más</a>
      </div>
      <!--Grid column-->

      <!--Grid column-->
      <div class="col-lg-4 col-md-6 mb-4">
          <!--Featured image-->
          <div class="view overlay rounded z-depth-2 mb-2 waves-light" mdbWavesEffect>
              <img src="..\assets\imagenes\noticias\sp20.1.1.jpg" class="img-fluid" alt="Thrid sample image">
              <a>
                  <div class="mask rgba-white-slight"></div>
              </a>
          </div>

          <!--Excerpt-->
          <a href="" class="cyan-text">
              <h6 class="mb-3 mt-4">
                  <i class="fa fa-wrench  "></i>
                  <strong> Novedad</strong>
              </h6>
          </a>
          <h4 class="mb-3 font-weight-bold dark-grey-text">
              <strong>Spectra Precision presenta el nuevo SP20</strong>
          </h4>
            <a class="font-weight-bold dark-grey-text">26 Julio, 2018
                </a>
          <p class="grey-text">combina un innovador registro mediante cámara con un alto nivel de rendimiento en una solución ergonómica y escalable. Robusto y ligero, el SP20 es fácil de usar...</p>
          <a mdbBtn color="info" rounded="true" size="md" class="waves-light" mdbWavesEffect>Leer Más</a>

      </div>
      <!--Grid column-->
    
  </div>
  <!--Grid row-->

</section></div>
<!--Section: Blog v.2-->
