<!--Carousel Wrapper-->
<div class="image">
<mdb-carousel [isControls]="true" class="carousel-multi-item multi-animation" [type]="'carousel-multi-item'" [animation]="'slide'">
  <!--First slide-->
  <mdb-carousel-item>
    <br><br>  
    <div class="col-md-4">
      
      <mdb-card>
        <mdb-card-img src="/assets/imagenes/productos/PRODUCTOS.jpg" alt="Card image cap"></mdb-card-img>
        <mdb-card-body>
          <mdb-card-title>
            <h4>PRODUCTOS</h4>
          </mdb-card-title>
          <p>Conose toda nuestra gama de accesorios ya a la venta. Pide tu cotizacion nosotros te la eviamos. </p>
          <a href="#" mdbBtn color="primary" class="waves-light" mdbWavesEffect>Entrar</a>
        </mdb-card-body>
      </mdb-card>
    </div>
    <div class="col-md-4 clearfix d-none d-md-block">
      <mdb-card>
        <mdb-card-img src="\assets\imagenes\accesorios\Accesorios.jpg" alt="Card image cap"></mdb-card-img>
        <mdb-card-body>
          <mdb-card-title>
            <h4>ACCESORIOS</h4>
          </mdb-card-title>
          <p>Las Mejores marcas a tu alcance, ven y conoce nuestros productos.</p>
          <a href="#" mdbBtn color="primary" class="waves-light" mdbWavesEffect>Entrar</a>
        </mdb-card-body>
      </mdb-card>
    </div>
    <div class="col-md-4 clearfix d-none d-md-block">
      <mdb-card>
        <mdb-card-img src="/assets/imagenes/servicios.jpg" alt="Card image cap"></mdb-card-img>
        <mdb-card-body>
          <mdb-card-title>
            <h4>SERVICIOS</h4>
          </mdb-card-title>
          <p>Servicios topograficos profesionales, levatamientos, sistemas de informacion geografica, deslindes. </p>
          <a href="#" mdbBtn color="primary" class="waves-light" mdbWavesEffect>Entrar</a>
        </mdb-card-body>
      </mdb-card>
    </div>
  </mdb-carousel-item>
  <!--/First slide-->
  <!--Second slide-->
  <mdb-carousel-item>
    <div class="col-md-4">
      <mdb-card>
        <mdb-card-img src="/assets\imagenes\fotogrametria\Fotogrametría-II.jpg" alt="Card image cap"></mdb-card-img>
        <mdb-card-body>
          <mdb-card-title>
            <h4>Fotogrametria</h4>
          </mdb-card-title>
          <p>Mapeo aereo con la ultima tecnologia en veiculos aereos no tripulados.</p>
          <a href="#" mdbBtn color="primary" class="waves-light" mdbWavesEffect>Entrar</a>
        </mdb-card-body>
      </mdb-card>
    </div>
    <div class="col-md-4 clearfix d-none d-md-block">
      <mdb-card>
        <mdb-card-img src="/assets/imagenes/rentas/RENTA DE EQUIPOS.jpg" alt="Card image cap"></mdb-card-img>
        <mdb-card-body>
          <mdb-card-title>
            <h4>Card title</h4>
          </mdb-card-title>
          <p>Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" mdbBtn color="primary" class="waves-light" mdbWavesEffect>Button</a>
        </mdb-card-body>
      </mdb-card>
    </div>
    <div class="col-md-4 clearfix d-none d-md-block">
      <mdb-card>
        <mdb-card-img src="/assets/imagenes/rentas/RENTA DE EQUIPOS.jpg" alt="Card image cap"></mdb-card-img>
        <mdb-card-body>
          <mdb-card-title>
            <h4>Renta de Equipos</h4>
          </mdb-card-title>
          <p>Pida presupuesto. Rente también todo tipo de accesorios de topografía (Estadales, trípodes, Prismas, etc.)</p>
          <a href="#" mdbBtn color="primary" class="waves-light" mdbWavesEffect>Button</a>
        </mdb-card-body>
      </mdb-card>
    </div>
  </mdb-carousel-item>
  <!--/Second slide-->
</mdb-carousel>
</div>
<!--/.Carousel Wrapper-->