<!--Carousel Wrapper-->
<mdb-carousel [isControls]="true" class="carousel slide carousel-fade" [animation]="'fade'">
  <!--First slide-->
  <mdb-carousel-item>
      <div class="view w-100">
          <img class="d-block w-100" src="/assets/imagenes/Wingtra-One-Drone2.jpg" alt="First slide">
          <div class="mask waves-light waves-light" mdbWavesEffect></div>
      </div>
      <script type="text/javascript" src="https://connect.facebook.net/en_US/sdk.js"></script>
      <div class="carousel-caption">
            <div class="text-right"> 
                    <button mdbBtn type="button" gradient="blue" rounded="true" mdbWavesEffect routerLink="/home"><i class="fa fa-cart-arrow-down" aria-hidden="true" ></i> Comprar Ahora</button>
            </div>
          <h3 class="h3-responsive">Los Mejores Equipos</h3>
          <p>La Fotogrametria nunca fue tan facil</p>
      </div>
  </mdb-carousel-item>
  <!--/First slide-->
  <!--Second slide-->
  <mdb-carousel-item>
      <div class="view w-100">
          <img class="d-block w-100" src="\assets\imagenes\Nikon-XF-X.jpg" alt="Second slide">
          <div class="mask waves-light" mdbWavesEffect></div>
      </div>
      <div class="carousel-caption">
            <div class="text-left"> 
                    <button mdbBtn type="button" gradient="blue" rounded="true" mdbWavesEffect routerLink="/home"><i class="fa fa-cart-arrow-down" aria-hidden="true" ></i> Comprar Ahora</button>
            </div>
          <h3 class="h3-responsive">Estacion Total Nikon</h3>
          <p>Inovacion y Tecnologia a Tu Alcance</p>
      </div>
  </mdb-carousel-item>
  <!--/Second slide-->
  <!--Third slide-->
  <mdb-carousel-item>
      <div class="view w-100">
          <img class="d-block w-100" src="/assets/imagenes/ACCESORIOS12-2024x741.jpg" alt="Third slide">
          <div class="mask rgba-black-slight waves-light" mdbWavesEffect></div>
      </div>
      <div class="carousel-caption">
            <div class="text-center"> 
                    <button mdbBtn type="button" gradient="blue" rounded="true" mdbWavesEffect routerLink="/accesorios"><i class="fa fa-cart-arrow-down" aria-hidden="true" ></i>COMPRAR</button>
            </div>
          <h3 class="h3-responsive">ACCESORIOS</h3>
      </div>
  </mdb-carousel-item>
  <!--/Third slide-->
</mdb-carousel>
<!--/.Carousel Wrapper-->