
 
<!doctype html>
  <html lang="en">
      <div class="fb-customerchat"
      page_id="<PAGE_ID>"
      ref="<OPTIONAL_WEBHOOK_PARAM>"
      theme_color="<HEX_COLOR_CODE>"
      logged_in_greeting="<GREETING_MESSAGE_FOR_LOGGED_IN_USERS>"
      logged_out_greeting="<GREETING_MESSAGE_FOR_LOGGED_OUT_USERS>">
     </div>
    <head>
    </head>
 
          <body >
            <div class="bg">
            <app-portada></app-portada>
            <app-header></app-header>
            <app-conoceproductos></app-conoceproductos>
            <app-videoportada></app-videoportada>
            <app-lomasvendido></app-lomasvendido>
            <app-contactus></app-contactus>
            <app-ultimasnoticias></app-ultimasnoticias>
            <app-foter></app-foter>
            </div>
           </body>
    
  
  </html>
    