body,
html {
  height: 100%;
}
.bg{
    /* The image used */
    background-image: url("/assets/imagenes/noticias/blue-layout-futuristic-world-map-background-4k_ey4b-dyfe__F0000.png");
    /* Full height */
    height: 100%;
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }